.App {
  text-align: center;
  background-color: #0f141b;
}

input {
  height: calc(1.5em + 1.5rem + 2px) !important;
  background-color: #00000040 !important;
  color: #dee2e6;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dee2e6 !important;
  opacity: 0.7 !important; /* Firefox */
}

.App-header {
  background-color: #0c010200;
  width: 100%;
  min-height: 4vh;
  max-height: 12vh;
  font-size: calc(10px + 2vmin);
  color: #dee2e6;
}

.App-footer {
  background-color: #0c010200;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(7px + 1vmin);
  color: #dee2e6;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #303030;
}

.App-footer h5 {
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: gray;
}

.cursor-pointer {
  cursor: pointer;
}

.navbar {
  background-color: #00000000;
}

.navbar .input-group {
  border: 1px solid white;
  border-radius: 0.25rem;
}

.logo {
  width: 55%;
  font-size: 150%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.logo img {
  width: 50px;
  height: 50px;
}

.btn-info {
  color: #dee2e6;
}

.ama-bg-primary {
  background-color: #1e6094;
}

#txtSearch {
  border: none !important;
}

footer ul.horizontal-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer ul.horizontal-list li {
  display: inline;
}

.not-found {
  min-height: 82vh;
  color: white;
}

/* HomeScreen */

figcaption {
  width: 90%;
  color: #dee2e6 !important;
}

.App-section {
  background-image: url("./images/amacat.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;

  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #dee2e6;
}

.App-section2 {
  min-height: 80vh;
  color: #dee2e6 !important;
  background-image: linear-gradient(#131513, #101010);
}

.centered-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.2em;
}

#rowLogo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#rowPhoto .figure-img {
  position: relative;
  text-align: center;
  opacity: 0.6;
  color: white;
}

/* Blog */

.component-blog {
  min-height: 85vh;
  background-image: linear-gradient(#0c0b0b, #060606);
  font-size: calc(10px + 2vmin);
  color: white;
}

.component-blog .list-group-item {
  margin: 0, 5px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 100px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.component-blog .button-group {
  width: 75%;
}

.component-blog .toggle-button {
  display: flex;
  align-items: center;
  padding-left: 20%;
  height: 3.4em;
  font-size: calc(4px + 2vmin);
  border-bottom-left-radius: 12% 50% !important;
  border-bottom-right-radius: 12% 50% !important;
  border-top-left-radius: 12% 50% !important;
  border-top-right-radius: 12% 50% !important;
}

.component-blog .logo {
  max-width: 50%;
}

.blog-card .card-header {
  font-size: calc(5px + 2vmin);
  color: #006395;
}

.blog-card .card-body {
  font-size: calc(4px + 2vmin);
  color: white;
}

.blog-card .card-footer {
  font-size: calc(1px + 2vmin);
  color: #426088;
}

/* BlogPost */

.blog-post {
  min-height: 85vh;
  background-color: #e5e5e5;
}

.blog-post .container {
  margin-top: 3%;
}

.blog-post-text {
  background-color: white;
  border-radius: 0.2em;
  text-align: start;
  padding: 3%;
  box-shadow: 0 0 0.7rem #cccccc;
}

.blog-post-text * {
  color: #060606;
}

.blog-post-text h1 {
  display: none;
}

.blog-post-text h2 {
  padding-top: 2%;
  border-top: 0.02em solid #00000070;
}

/* */

.spinner-border {
  height: 8rem;
  width: 8rem;
  margin: auto;
  display: block;
}

/* BlogPostDetailHeader */

.blog-post-detail-section {
  background-image: linear-gradient(#484b4f, #101010);
  color: #f0efee;
  display: flex;
  height: 45vh;
  margin: 1em auto;
}

.blog-post-detail-figure-image {
  background-color: #f0efee;
  opacity: 0.8;
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
}

.blog-post-detail-figure-image-caption {
  font-size: medium;
  font-weight: bold;
}

.blog-post-detail-section h1 {
  text-align: start;
}

.blog-post-detail-info {
  width: 40%;
  opacity: 0.8;
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
}

/* Markdown-Navbar */

.mark-down-navbar {
  position: sticky;
  top: 0%;
  text-align: start;
}